apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: capi-kubeadm-control-plane-controller-manager
  namespace: capi-kubeadm-control-plane-system
  labels:
    app.kubernetes.io/component: control-plane-kubeadm
    cluster.x-k8s.io/provider: control-plane-kubeadm
    control-plane: controller-manager
spec:
  podSelector:
    matchLabels:
      cluster.x-k8s.io/provider: control-plane-kubeadm
      control-plane: controller-manager
  policyTypes:
  - Ingress
  - Egress
  ingress:
  - ports:
    # Metrics
    - protocol: TCP
      port: 8080
    # Healthz
    - protocol: TCP
      port: 9440
    # Webhook
    - protocol: TCP
      port: 9443
  egress:
  - ports:
    # Kubernetes API server
    - protocol: TCP
      port: 443
    # Kubernetes API server
    - protocol: TCP
      port: 6443
    # Webhook
    - protocol: TCP
      port: 9443
