# -- Registry settings.
registry:
  # -- Registry domain.
  domain: gsoci.azurecr.io

# -- Image settings.
images:
  # -- Core image settings.
  core:
    # -- Core image repository.
    name: giantswarm/cluster-api-controller
  # -- Bootstrap image settings.
  bootstrap:
    # -- Bootstrap image repository.
    name: giantswarm/kubeadm-bootstrap-controller
  # -- Control plane image settings.
  controlplane:
    # -- Control plane image repository.
    name: giantswarm/kubeadm-control-plane-controller
  # -- Image tag (used for all images).
  tag: v1.11.3-gs-80dfa9ad7

# -- CRD install job settings.
crds:
  # -- Whether to install CRDs or not.
  install: true
