apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  labels:
    app.kubernetes.io/component: cluster-api
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    app.kubernetes.io/name: cluster-api
    app.kubernetes.io/version: '{{ .Chart.AppVersion }}'
    cluster.x-k8s.io/provider: cluster-api
    control-plane: controller-manager
    helm.sh/chart: cluster-api
  name: capi-controller-manager
  namespace: '{{ .Release.Namespace }}'
spec:
  egress:
  - ports:
    - port: 443
      protocol: TCP
    - port: 6443
      protocol: TCP
    - port: 9443
      protocol: TCP
  ingress:
  - ports:
    - port: 8080
      protocol: TCP
    - port: 9440
      protocol: TCP
    - port: 9443
      protocol: TCP
  podSelector:
    matchLabels:
      cluster.x-k8s.io/provider: cluster-api
      control-plane: controller-manager
  policyTypes:
  - Ingress
  - Egress
