apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: '{{ .Release.Namespace }}/capi-serving-cert'
    controller-gen.kubebuilder.io/version: v0.18.0
  labels:
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    app.kubernetes.io/name: cluster-api
    app.kubernetes.io/version: '{{ .Chart.AppVersion }}'
    cluster.x-k8s.io/provider: cluster-api
    clusterctl.cluster.x-k8s.io: ""
    clusterctl.cluster.x-k8s.io/move: ""
    helm.sh/chart: cluster-api
  name: machines.cluster.x-k8s.io
spec:
  conversion:
    strategy: Webhook
    webhook:
      clientConfig:
        service:
          name: capi-webhook-service
          namespace: '{{ .Release.Namespace }}'
          path: /convert
          port: 443
      conversionReviewVersions:
        - v1
        - v1beta1
  group: cluster.x-k8s.io
  names:
    categories:
      - cluster-api
    kind: Machine
    listKind: MachineList
    plural: machines
    shortNames:
      - ma
    singular: machine
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - description: Provider ID
          jsonPath: .spec.providerID
          name: ProviderID
          type: string
        - description: Machine status such as Terminating/Pending/Running/Failed etc
          jsonPath: .status.phase
          name: Phase
          type: string
        - description: Kubernetes version associated with this Machine
          jsonPath: .spec.version
          name: Version
          type: string
        - description: Node name associated with this machine
          jsonPath: .status.nodeRef.name
          name: NodeName
          priority: 1
          type: string
      deprecated: true
      name: v1alpha3
      schema: {}
      served: false
      storage: false
      subresources:
        status: {}
    - additionalPrinterColumns:
        - description: Cluster
          jsonPath: .spec.clusterName
          name: Cluster
          type: string
        - description: Time duration since creation of Machine
          jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
        - description: Provider ID
          jsonPath: .spec.providerID
          name: ProviderID
          type: string
        - description: Machine status such as Terminating/Pending/Running/Failed etc
          jsonPath: .status.phase
          name: Phase
          type: string
        - description: Kubernetes version associated with this Machine
          jsonPath: .spec.version
          name: Version
          type: string
        - description: Node name associated with this machine
          jsonPath: .status.nodeRef.name
          name: NodeName
          priority: 1
          type: string
      deprecated: true
      name: v1alpha4
      schema: {}
      served: false
      storage: false
      subresources:
        status: {}
    - additionalPrinterColumns:
        - description: Cluster
          jsonPath: .spec.clusterName
          name: Cluster
          type: string
        - description: Node name associated with this machine
          jsonPath: .status.nodeRef.name
          name: NodeName
          type: string
        - description: Provider ID
          jsonPath: .spec.providerID
          name: ProviderID
          type: string
        - description: Machine status such as Terminating/Pending/Running/Failed etc
          jsonPath: .status.phase
          name: Phase
          type: string
        - description: Time duration since creation of Machine
          jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
        - description: Kubernetes version associated with this Machine
          jsonPath: .spec.version
          name: Version
          type: string
      deprecated: true
      name: v1beta1
      schema: {}
      served: true
      storage: false
      subresources:
        status: {}
    - additionalPrinterColumns:
        - description: Cluster
          jsonPath: .spec.clusterName
          name: Cluster
          type: string
        - description: Node name associated with this machine
          jsonPath: .status.nodeRef.name
          name: Node Name
          type: string
        - description: Provider ID
          jsonPath: .spec.providerID
          name: Provider ID
          priority: 10
          type: string
        - description: Machine pass all readiness checks
          jsonPath: .status.conditions[?(@.type=="Ready")].status
          name: Ready
          type: string
        - description: Machine is Ready for at least MinReadySeconds
          jsonPath: .status.conditions[?(@.type=="Available")].status
          name: Available
          type: string
        - description: ' Machine spec matches the spec of the Machine''s owner resource, e.g. MachineDeployment'
          jsonPath: .status.conditions[?(@.type=="UpToDate")].status
          name: Up-to-date
          type: string
        - description: Internal IP of the machine
          jsonPath: .status.addresses[?(@.type=="InternalIP")].address
          name: Internal-IP
          priority: 10
          type: string
        - description: External IP of the machine
          jsonPath: .status.addresses[?(@.type=="ExternalIP")].address
          name: External-IP
          priority: 10
          type: string
        - description: OS Image reported by the node
          jsonPath: .status.nodeInfo.osImage
          name: OS-Image
          priority: 10
          type: string
        - description: Reconciliation paused
          jsonPath: .status.conditions[?(@.type=="Paused")].status
          name: Paused
          priority: 10
          type: string
        - description: Machine status such as Terminating/Pending/Running/Failed etc
          jsonPath: .status.phase
          name: Phase
          type: string
        - description: Time duration since creation of Machine
          jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
        - description: Kubernetes version associated with this Machine
          jsonPath: .spec.version
          name: Version
          type: string
      name: v1beta2
      schema: {}
      served: true
      storage: true
      subresources:
        status: {}
