apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: capi-kubeadm-control-plane-controller-manager
  namespace: capi-kubeadm-control-plane-system
  labels:
    app.kubernetes.io/component: control-plane-kubeadm
    cluster.x-k8s.io/provider: control-plane-kubeadm
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      cluster.x-k8s.io/provider: control-plane-kubeadm
      control-plane: controller-manager
  endpoints:
  - port: metrics
