apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: capi-metrics-servicemonitor
  namespace: capi-system
spec:
  endpoints:
    - port: metrics
  selector:
    matchLabels:
      cluster.x-k8s.io/provider: cluster-api